<html lang="es">
    <head>
        <script src="https://unpkg.com/vue@next"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    </head>
    <body>
        <div id="app">
            <h1>{{titulo}} --- {{upperTitulo}}</h1>
            <!--VALIDACIONES en clases siempre con corchetes-->
            <h2 class="bg-dark" :class="[cantidad > 500 ? 'text-success' : 'text-danger']">Mi saldo disponible es {{cantidad}}</h2>
            <!--COMPUTED PROPERTIES-->
            <h2 class="bg-dark" :class="colorCantidad">Computes Properties: Mi saldo disponible es {{cantidad}}</h2>
            <!--V-Bind-->
            <a v-bind:href="enlace">Link</a>
            <a :href="enlace">Link</a>
            <hr>
            
            <!--V-IF/ELSE-->
            <h2 v-if="estado">Cuenta Activa</h2>
            <h2 v-else="estado">Cuenta Inactiva</h2>
            <hr>
            <h2 v-if="cantidad > 500">Cantidad: {{cantidad}}</h2>
            <h2 v-else-if="cantidad <= 500 && cantidad > 0">
                Cantidad: <span style="color:red">{{cantidad}}</span>
            </h2>
            <h2 v-else>
                Sin cantidad
            </h2>
            <hr>

            <!--V-FOR-->
            <h2>Servicios Disponibles</h2>
            <ul>
                <li v-for="(item, index) in servicios" :key="index">{{index+1}} - {{item}}</li>
            </ul>
            <hr>

            <!--Evento Click-->
            <button v-on:click="agregarSaldo">Agregar Saldo</button>
            <button @click="quitarSaldo(100)" :disabled="cantidad <= 0">Quitar Saldo</button>
            <hr>
            <!--COMPONENTES Nombre debe seer en minuscula y con guion medio no usar CAMELCASE-->
            <!--PROPS entre componentes, estatico y dinamico con (:) -->
            <footer-banco 
                :valor="cantidad"
                fecha="13-05-2015"  
            ></footer-banco>
        </div>
        <script src="main.js"></script>
        <script src="components/Footer.js"></script>
        <script>
            const mountedApp = app.mount('#app')
        </script>
    </body>

</html>