<template>
  <div class="about">
    <Titulo texto="Acerca de Mi blog"/>
  </div>
</template>
<script>
  import Titulo from '../components/Titulo.vue'
  export default {    
      components: {
          Titulo
      }
  }
</script>
