<template>
  <Titulo texto="Ruta con parametrosss"/>
  <h2>Parametro: {{$route.params.id}}</h2>
  <h3>{{articulo.title}}</h3>
  <p>{{articulo.id}}-{{articulo.body}}</p>
</template>

<script>
import Titulo from '../components/Titulo.vue'
export default {
    components: {
        Titulo
    },
    data() {
        return {
            articulo: {}
        } 
    },
    methods: {
        async consumirArticulo(id){
            try{ 
                const data = await fetch(`https://jsonplaceholder.typicode.com/posts/${id}`);
                const articulo = await data.json();
                console.log(articulo);
                this.articulo = articulo;
            }catch(error){
                console.log(error);
            }
        }
    },
    created(){
        this.consumirArticulo(this.$route.params.id);
    }
}
</script>

<style>

</style>