<template>
  <div class="home">
    <h1 :style="colorContador">
      {{titulo}}: {{contador}}
    </h1>
    <button @click="accionIncrementar">Sumar</button>
    <BtnDisminuir/>
    <hr/>
    <BtnAccion :estado="true"/>
    <BtnAccion :estado="false"/>
  </div>
</template>

<script>
import BtnDisminuir  from '../components/BtnDisminuir.vue';
import BtnAccion from '../components/BtnAccion.vue'
import {mapState, mapMutations, mapActions} from 'vuex';

export default {
  name: 'Home',
  components: {
    BtnDisminuir, BtnAccion
  },
  data() {
    return {
      titulo: "Mi contador Vuex"
    }
  },
  computed:{
    ...mapState(['contador']),
    
    colorContador(){
      return [this.contador > 100 ? {'color':'green'} : {'color': 'red'}];
    }
  },
  methods: {
    //...mapMutations(['incrementar'])
    ...mapActions(['accionIncrementar'])
  }
}
</script>
