<template>
  
  <button @click="accion" :disabled="desactivar">{{texto}}</button>

</template>

<script>
    export default {
        props:{
            texto:String,
            //desactivar: Boolean
            desactivar: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            accion(){
                this.$emit('accion', {cantidadMas: 200, cantidadMenos:100})
            }
        }

    }
</script>

<style>

</style>