<template>
    <h2>Tipo Cuenta: {{cuenta}}</h2>
    <h2>Saldo: {{saldo}}</h2>
    <h2>Estado: {{estado ? 'Activa': 'Inactiva'}}</h2>
    <div v-for="(servicio, index) in servicios" :key="index"> 
        {{index + 1}} -  {{ servicio }}
    </div>
    <AccionSaldo 
        texto="Agregar Saldo"
        @accion="aumentar"
         
    />
     <AccionSaldo 
        texto="Disminuir Saldo"
        @accion="disminuir"
        :desactivar="desactivar"

    />
</template>

<script>
import AccionSaldo from './AccionSaldo.vue';
export default {
    components: {
        AccionSaldo
    },
    data(){
        return {
            saldo: 1000,
            cuenta: "Visa",
            estado: true,
            servicios: ["Giro", "Abono", "Transferencia"],
            desactivar: false
        }
    },
    methods: {
        aumentar({cantidadMas, cantidadMenos}){
            this.saldo =  this.saldo  + cantidadMas;
             this.desactivar = false;
        },
        disminuir({cantidad, cantidadMenos}){
            if(this.saldo === 0){
                this.desactivar = true;
                alert('Sin Saldo');
                return;
            }
            this.saldo =  this.saldo - cantidadMenos;
        }
    }
}
</script>

<style>

</style>