<template>
  <NavBar/>
  <div class="container">
    <router-view/>
  </div>
  
</template>
<script>
import {mapActions} from 'vuex'
import NavBar from './components/NavBar.vue'

export default {
  components: {
    NavBar
  },
  methods: {
    ...mapActions(['cargarTareas'])
  },
  created(){
    this.cargarTareas()
  }
}
</script>
