<template>
  <form action="" @submit.prevent="procesaFormulario">
    <input type="text" class="form-control my-2" placeholder="Ingrese Nombre" v-model.trim="tarea.nombre">
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" id="check-1" v-model="tarea.categorias" value="javascript">
      <label class="form-check-label" for="check-1">Javascript</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox" class="form-check-input" id="check-2" v-model="tarea.categorias" value="nodejs">
      <label class="form-check-label" for="check-2">NodeJs</label>
    </div>

    <div class="mt-2">
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="radio-1" v-model="tarea.estado" value="urgente">
        <label class="form-check-label" for="radio-1">Urgente</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="radio-2" v-model="tarea.estado" value="relax">
        <label class="form-check-label" for="radio-2 ">Relax</label>
      </div>
    </div>

    <div class="mt-2">
      <input type="number" class="form-control" v-model.number="tarea.numero">
    </div>
    <button class="btn btn-dark mt-3 btn-block" type="submit" :disabled="bloquear">Procesar</button>
  </form>
  <hr>
  <p>{{tarea}}</p>
</template>

<script>
// @ is an alias to /src


export default {
  name: 'Home',
  components: {
    
  },
  data() {
    return{
      tarea: {
        nombre: '',
        categorias: [],
        estado: '',
        numero: 0
      }
    }
  },
  computed:{
    bloquear(){
      return this.tarea.nombre.trim() === "" ? true : false 
    }
  }, 
  methods: {
    procesaFormulario(){
      console.log(this.tarea);
      if(this.tarea.nombre.trim()===""){
        console.log("Vacio");
        return;
      } 
      console.log("No es vacio");

      //Limpiar Formularios
      this.tarea = {
        nombre: '',
        categorias: [],
        estado: '',
        numero: 0
      }
    }
  }
}
</script>
