<template>
  <form action="" @submit.prevent="procesaFormulario">
   <Input :tarea="tarea" />
  </form>
  <hr>
  <ListaTareas/>
</template>

<script>
// @ is an alias to /src
import Input from '../components/Input.vue'
import ListaTareas from '../components/ListaTareas.vue'
import { mapActions } from 'vuex'
const shortid = require('shortid')

export default {
  name: 'Home',
  components: {
    Input, ListaTareas
    
  },
  data() {
    return{
      tarea: {
        id: '',
        nombre: '',
        categorias: [],
        estado: '',
        numero: 0
      }
    }
  },
 
  methods: {
    ...mapActions(['setTareas']),
    procesaFormulario(){
      console.log(this.tarea);
      if(this.tarea.nombre.trim()===""){
        console.log("Vacio");
        return;
      } 
      console.log("No es vacio");
      //genero ID
      this.tarea.id = shortid.generate()
      console.log(this.tarea.id);

      //enviar datos a vuex 
      this.setTareas(this.tarea)
      //Limpiar Formularios
      this.tarea = {
        id: '',
        nombre: '',
        categorias: [],
        estado: '',
        numero: 0
      }
    }
  }
}
</script>
